<div {{bind-attr class=":control-group"}}>
	{{view Balanced.Forms.TextField valueBinding="view.name" name="name" placeholder="Enter test marketplace name"}}
	{{#if view.isSubmitting}}
		<span class="loader loading"></span>
	{{else}}
		<button data-evt="Add-Test-Marketplace" class="btn" {{action "add" target="view"}}>Add</button>
	{{/if}}
</div>
